---
layout: post
slug: "photos"
title: "相册"
noDate: "true"
comments: "true"
reward: "true"
open_in_new: false
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">	
    <a class="photos-btn" href="/photos">Photos</a>

    <!-- 暂时先注释不需要的视屏功能 -->
	<!-- <a class="photos-btn active" href="/photos/videos.html">Videos</a> -->

</div>
<center>
    <h1>指弹_女儿情</h1>
</center>
<hr/>
<center>
    <div class="video-container">
        <iframe height="80%" width="80%" src="https://player.youku.com/embed/XMjUzMzY4OTM3Ng==" frameborder=0 allowfullscreen></iframe>
    </div>
</center>
<hr/>
<center>
    <h1>指弹_友谊地久天长</h1>
</center>
<hr/>
<center>
    <div class="video-container">
        <iframe height="80%" width="80%" src="https://player.youku.com/embed/XMjQ5MDExOTY2MA==" frameborder=0 allowfullscreen></iframe>
    </div>
</center>
<hr/>
<center>
    <h1>指弹_Always with me</h1>
</center>
<hr/>
<center>
    <div class="video-container">
        <iframe height="80%" width="80%" src="https://player.youku.com/embed/XMjQ4MDQyNTQ0MA==" frameborder=0 allowfullscreen></iframe>
    </div>
</center>